<!DOCTYPE html>
<html lang="en">

<head>

    <title>RBSK Law</title>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" media="screen" href="css.css" />

<style>

.header .top-nav .navbar-nav > li > a:hover {
    padding: 10px 8px;
    color: #ca9f43;
}
.header .top-nav .navbar-nav > li.active > a:after, .header .top-nav .navbar-nav > li.active > a:hover:after {
    border-bottom: solid 2px #ca9f43 !important;
}
.top-nav .navbar-nav > li.active > a:after, .top-nav .navbar-nav > li.active > a:hover:after {
    border-bottom: solid 2px #ca9f43 !important;
}
.top-nav .navbar-nav > li.active > a:after, .top-nav .navbar-nav > li.active > a:hover:after {
    border-bottom: solid 2px #ca9f43 !important;
}
.header .top-nav .navbar-nav > li > a:hover:after {
    border-bottom: solid 2px #ca9f43;
}

.section-6b {
    height: 450px;
    background: transparent url(https://d31kswug2i6wp2.cloudfront.net/images/outplacement/ipad_screenshot_img.jpg) no-repeat fixed center center;
    background-size: 100%;
}

.section-4b {
    position: relative;
    z-index: 40;
    background: transparent url(https://d31kswug2i6wp2.cloudfront.net/images/outplacement/home_section_5.jpg) no-repeat fixed center top;
    background-size: 100%;
    padding: 120px 0 120px 50%;
}


</style>

</head>

<body class="marketing-layout chrome_71 unknown chrome modern mac webkit visitor home outplacement en status-200">
    
  <!-- nav_employer_nogov_solutions_production_en: cached at: 2019-01-04 13:10:41 -0800 -->
  <div class="header hidden-sm hidden-xs" style="text-align:center;">
    <div class="logo" style="float:left;">
      <a href="/" data-action="Logo">
        <%= link_to root_path do %>
          <%= image_tag "https://s3.us-east-2.amazonaws.com/rbsk/transparent-rbsk-law-logo-light-backgrounds.png", class: "", style: "margin-top:-14px;height:86px;" %>
        <% end %>
      </a>
    </div>
    <div class="top-nav navbar" style="margin:0px auto;">
      <ul class="nav navbar-nav ">
          <li class=" active  "> <a href="/clients">Home</a> </li>
          <li class="  "> <a href="/clients">About</a> </li>
          <li class="  "> <a href="/clients">Services</a> </li>
          <li class="  "> <a href="/clients">Contact Us</a> </li>
          <li class="  "> <a href="/clients">Terms & Definitions</a> </li>
      </ul>
    </div>
  </div>
  <!-- end nav -->
  <nav class="navbar navbar-default navbar-fixed-top visible-sm-block visible-xs-block" role="navigation" style="z-index: 6000;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand" data-action="Logo">
        <img alt="CareerArc" style="max-width:150px;" src="https://s3.us-east-2.amazonaws.com/rbsk/transparent-rbsk-law-logo-light-backgrounds.png" />
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
            <li class=" ">
              <a rel="nofollow" href="https://www.careerarc.com/login">
                  <span class="nav-icon el-icon-torso"></span>
                Login
</a>            </li>
            <li class="dropdown active ">
              <a href="/solutions" class="dropdown active" data-toggle="dropdown">
                Solutions <span class="caret"></span>
              </a>
            </li>
              <li style="padding-left: 20px;">
                <a href="/solutions/social-recruiting">
                  Social Recruiting
</a>              </li>
                  <li style="padding-left: 40px;">
                    <a href="/solutions/social-recruiting">
                      Overview
</a>                  </li>
                  <li style="padding-left: 40px;">
                    <a href="/solutions/social-recruiting/features">
                      Features
</a>                  </li>
                  <li style="padding-left: 40px;">
                    <a href="/solutions/social-recruiting/what-is-social-recruiting">
                      What is Social Recruiting?
</a>                  </li>
                  <li style="padding-left: 40px;">
                    <a href="/solutions/social-recruiting/candidate-care">
                      Candidate Care
</a>                  </li>
              <li style="padding-left: 20px;">
                <a href="/solutions/outplacement">
                  Outplacement
</a>              </li>
                  <li style="padding-left: 40px;">
                    <a href="/solutions/outplacement">
                      Overview
</a>                  </li>
                  <li style="padding-left: 40px;">
                    <a href="/solutions/outplacement/features">
                      Features
</a>                  </li>
                  <li style="padding-left: 40px;">
                    <a href="/solutions/outplacement/what-is-outplacement">
                      What is Outplacement?
</a>                  </li>
            <li class=" ">
              <a href="/clients">
                Clients
</a>            </li>
            <li class="dropdown  ">
              <a href="javascript:;" class="dropdown " data-toggle="dropdown">
                Industries <span class="caret"></span>
              </a>
            </li>
              <li style="padding-left: 20px;">
                <a href="/industries/healthcare">
                  Healthcare
</a>              </li>
              <li style="padding-left: 20px;">
                <a href="/industries/hospitality">
                  Hospitality
</a>              </li>
              <li style="padding-left: 20px;">
                <a href="/industries/retail">
                  Retail
</a>              </li>
            <li class=" ">
              <a href="/resources">
                Resources
</a>            </li>
            <li class="dropdown  ">
              <a href="/about-us" class="dropdown " data-toggle="dropdown">
                Company <span class="caret"></span>
              </a>
            </li>
              <li style="padding-left: 20px;">
                <a href="/about-us">
                  About Us
</a>              </li>
              <li style="padding-left: 20px;">
                <a href="/in-the-news">
                  News and Press
</a>              </li>
              <li style="padding-left: 20px;">
                <a target="_blank" href="http://www.careerarc.com/blog/">
                  Blog
</a>              </li>
              <li style="padding-left: 20px;">
                <a href="/events">
                  Events
</a>              </li>
              <li style="padding-left: 20px;">
                <a href="/partners">
                  Partners
</a>              </li>
              <li style="padding-left: 20px;">
                <a href="/careers">
                  Careers
</a>              </li>
              <li style="padding-left: 20px;">
                <a href="/contact-us">
                  Contact Us
</a>              </li>
            <li class="dropdown  ">
              <a href="https://www.careerarc.com/job-seeker" class="dropdown " data-toggle="dropdown">
                Job Seeker <span class="caret"></span>
              </a>
            </li>
              <li style="padding-left: 20px;">
                <a href="/job-seeker">
                  Find A Job
</a>              </li>
              <li style="padding-left: 20px;">
                <a href="/job-directory">
                  Browse Jobs
</a>              </li>
              <li style="padding-left: 20px;">
                <a href="/job-search">
                  New Job Listings
</a>              </li>
              <li style="padding-left: 20px;">
                <a href="/job-seeker/veterans">
                  Veterans
</a>              </li>
              <li style="padding-left: 20px;">
                <a href="/job-seeker/twitter-job-channels">
                  Quick Subscribe
</a>              </li>
        <li>
          <a href="/demo">Schedule A Demo</a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </nav>



    
  

<div class="sections">
  <div class="section-1">
      <img class="section-1-img" src="https://d31kswug2i6wp2.cloudfront.net/images/outplacement/impact.jpg" style="width:100%;max-width:100%;"/>
    <div class="copy" style="position:absolute;top:50%;margin-top: -400px; left:0;width:100%;text-align:center;color:#fff;">
      <h1 style="font-size: 42px; font-family: 'gotham_bookregular',Arial,Helvetica,sans-serif; font-weight: 400; text-transform: uppercase; line-height: 42px; margin: 0 0 10px;"><span>READY | BEAULIEU | SAUNDERS | KOSTIN</span></h1>
      <h3 style="color:#fff;">Reliable. Dependable. Trusted.</h3>
      <div><a class="btn btn-cta ga-trackable" data-action="Schedule Demo - Top" style="background-color:#d1ad5d;" href="/demo">Contact Us</a></div>
    </div>
    <div class="side-copy" style="position: absolute; left: 0; top: 35%; width: 45%; padding: 20px 40px; background: rgba(0,0,0,0.5);">
      <p style="color:#fff;">
At RBSK Law Offices, our clients come first. With over 20 years of experience, our clients include more than 15 large hospitals in Eastern MA. Our experience includes settling multi-million dollar will contests, resolving contested trusts, cases involving end of life issues and thousands of other cases with the goal of protecting the injured and disabled. With expertise in a variety of practice areas our team of dedicated attorneys is available to offer assistance to individuals as well as organizations.
</p>
    </div>
  </div>
  <div class="section-2" style="background:#1d2e54;padding-top:50px;padding-bottom:70px;">
      <div class="container" style="text-align:center;">
        <h2 class="brand" style="line-height:1.1em;padding: 0 0 10px; font-size: 45px; font-weight:400; font-family: 'gotham_lightregular',Arial,Helvetica,sans-serif;color: #fff;">How Can We Help?</h2>
        <h2 style="line-height:1.1em;padding: 0 0 30px; font-size: 18px; font-weight:500; font-family: 'gotham_lightregular',Arial,Helvetica,sans-serif;color: #fff;">
In need of legal assistance? Look no further. Our team of dedicated employees are here to serve you every step of the way. From hospitals to new adults to seniors, we are well versed in guiding you through the challenges of addressing legal concerns. Whether you are looking for assistance with estate planning, real estate transactions or patient care concerns, RBSK Law and our team of dedicated staff is committed to assisting you.
</h2>
        <div class="row" style="color:#fff;">
          <div class="col-md-4">
            <img src="https://d31kswug2i6wp2.cloudfront.net/images/candidate-care/home_section_2_1_strength.png"/>
            <h3 style="font-size:18px;color:#fff;">Real Estate</h3>
            <p>
Representing The Seller, Representing The Buyer, Fiduciary Sales, Land Disputes, & Missing Probates.
</p>
          </div>
          <div class="col-md-4">
            <img src="https://d31kswug2i6wp2.cloudfront.net/images/candidate-care/home_section_2_2_love.png"/>
            <h3 style="font-size:18px;color:#fff;">Probate Litigation</h3>
            <p>
Estates, Trusts, Equity, Real Estate, & Health Care Proxies.
</p>
          </div>
          <div class="col-md-4">
            <img src="https://d31kswug2i6wp2.cloudfront.net/images/candidate-care/home_section_2_3_trophy.png"/>
            <h3 style="font-size:18px;color:#fff;">Estate Planning & Elder Law</h3>
            <p>
Preparations,... 
</p>
          </div>
        </div>

        <div class="row" style="color:#fff;">
          <div class="col-md-4">
            <img src="https://d31kswug2i6wp2.cloudfront.net/images/candidate-care/home_section_2_1_strength.png"/>
            <h3 style="font-size:18px;color:#fff;">Trusts</h3>
            <p>Offer outplacement to each employee at every level of the organization and turn your reputation management strategy into employer brand leadership.</p>
          </div>
          <div class="col-md-4">
            <img src="https://d31kswug2i6wp2.cloudfront.net/images/candidate-care/home_section_2_2_love.png"/>
            <h3 style="font-size:18px;color:#fff;">Guardianship / Conservatorship</h3>
            <p>Show your continued investment in your employees' futures beyond company lines. Give every worker access to a solution that can cut employees' average transition time by over four months.*</p>
          </div>
          <div class="col-md-4">
            <img src="https://d31kswug2i6wp2.cloudfront.net/images/candidate-care/home_section_2_3_trophy.png"/>
            <h3 style="font-size:18px;color:#fff;">Fiduciary Services</h3>
            <p>Today's job seekers need an accelerated path towards employment. Leverage a tech-based approach that not only meets their needs, but also meets the bottom-line of your business. </p>
          </div>
        </div>



      </div>
    </div>
    <div class="section-2b" style="text-align: center;padding: 30px;">
        <div style="font-size:20px;">What is outplacement? <a class="btn btn-primary ga-trackable" style="background:#ca9f43;border-color:#ca9f43;" data-action="View What Is Outplacement?" href="/solutions/outplacement/what-is-outplacement">Learn more</a></div>
    </div>
  <div class="section-5" style="position:relative;">
    <img src="https://d31kswug2i6wp2.cloudfront.net/images/outplacement/section-3_bg-img.jpg"/>
    <div class="copy" style="top: 50%;margin-top:-180px;text-align:center;color:#fff;position:absolute;">
      <h2>Revolutionizing Outplacement Design &amp; Delivery</h2>
      <p>With CareerArc Outplacement&trade;, we've developed a Jobs-First approach built to adapt to each individual's needs and plot the fastest track towards employment. Our method and technology is the first of its kind to deliver the most advanced career transition platform combined with the on-demand support of world-class career coaches.</p>

      <div class="row" style="max-width:1100px; margin: 60px auto 0;">
        <div class="col-md-2 col-sm-4">
          <img src="https://d31kswug2i6wp2.cloudfront.net/images/outplacement/section-3_icon_1.png"/>
          <p>One Intelligent, Responsive Platform</p>
        </div>
        <div class="col-md-2 col-sm-4">
          <img src="https://d31kswug2i6wp2.cloudfront.net/images/outplacement/section-3_icon_2.png"/>
          <p>Proven 6-Step Process</p>
        </div>
        <div class="col-md-2 col-sm-4">
          <img src="https://d31kswug2i6wp2.cloudfront.net/images/outplacement/section-3_icon_3.png"/>
          <p>Social Media &amp; Professional Networking Integration</p>
        </div>
        <div class="col-md-2 col-sm-4">
          <img src="https://d31kswug2i6wp2.cloudfront.net/images/outplacement/section-3_icon_4.png"/>
          <p>Accessible, High-Caliber Coaching</p>
        </div>
        <div class="col-md-2 col-sm-4">
          <img src="https://d31kswug2i6wp2.cloudfront.net/images/outplacement/section-3_icon_5.png"/>
          <p>Job Matching &amp; Push Notification Technology</p>
        </div>
        <div class="col-md-2 col-sm-4">
          <img src="https://d31kswug2i6wp2.cloudfront.net/images/outplacement/section-3_icon_6.png"/>
          <p>In-depth Self-Assessments &amp;  Resume Development</p>
        </div>
      </div>
      <div class="view-platform-details" style="text-align:center;padding: 50px 0;">
        <a class="btn btn-primary ga-trackable" data-action="View Solution Details - 2" href="/solutions/outplacement/features">View platform details</a>
      </div>
    </div>
  </div>
  <div class="mobile-section-5b visible-xs-block">
    <div class="row">
      <div class="col-xs-6">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/outplacement/section-3_icon_1.png"/>
        <p>One Intelligent, Responsive Platform</p>
      </div>
      <div class="col-xs-6">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/outplacement/section-3_icon_2.png"/>
        <p>Proven 6-Step Process</p>
      </div>
      <div class="col-xs-6">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/outplacement/section-3_icon_3.png"/>
        <p>Social Media &amp; Professional Networking Integration</p>
      </div>
      <div class="col-xs-6">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/outplacement/section-3_icon_4.png"/>
        <p>Accessible, High-Caliber Coaching</p>
      </div>
      <div class="col-xs-6">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/outplacement/section-3_icon_5.png"/>
        <p>Job Matching &amp; Push Notification Technology</p>
      </div>
      <div class="col-xs-6">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/outplacement/section-3_icon_6.png"/>
        <p>In-depth Self-Assessments &amp;  Resume Development</p>
      </div>
    </div>
  </div>
  <div class="section-6" style="background:#fff; padding: 50px 0px;text-align:center;">
    <p>We are proud to help forward-thinking companies transition their employees to new work opportunities.<br/>
      <a href="/clients">Learn more about our clients</a>.</p>
    <a href="/clients"><img style="display:inline-block;" src="https://d31kswug2i6wp2.cloudfront.net/images/social_recruiting/client_logo_1.jpg" />
    <img style="display:inline-block;" src="https://d31kswug2i6wp2.cloudfront.net/images/social_recruiting/client_logo_2.jpg"/>
    <img style="display:inline-block;" src="https://d31kswug2i6wp2.cloudfront.net/images/social_recruiting/client_logo_3.jpg"/></a>
  </div>
  <div class="section-6b">
    <img src="https://d31kswug2i6wp2.cloudfront.net/images/outplacement/ipad_screenshot_img.jpg" class="visible-xs-block"/>
  </div>
  <div class="section-4">
      <div class="container" style="max-width:940px;">
        <h2>We deliver modern outplacement with the support of talented and experienced career coaches</h2>
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/candidate-care/home_section_4.jpg">
        <div class="row" style="margin:40px;text-align:center;">
          <div class="col-md-6">
            <h3>Effective</h3>
            <p>Our intuitive, adaptive platform rests above a powerful jobs engine that gives employees instant access
              to millions of jobs. Built upon our Jobs-First Approach, we immediately focus your employees
              on tangible opportunities ahead, and guide them each step of the way.</p>
          </div>
          <div class="col-md-6">
            <h3>Accessible</h3>
            <p>Our virtual outplacement platform is available anytime, anywhere, and our experienced team of coaches  include internationally certified career counselors, career management fellows, and professional resume writers
              who work with candidates at all levels.</p>
          </div>
        </div>
        <div style="text-align:center;"><a class="btn btn-primary ga-trackable" style="background:#ca9f43;border-color:#ca9f43" data-action="View Solution Details - Bottom" href="/solutions/outplacement/features">View platform details</a></div>
      </div>
    </div>
    <div class="section-4b" style="margin-top:50px;">
      <div class="quote">
        <h2 style="color:#fff;">CareerArc Outplacement offers a very professional and complete outplacement service. It's very comforting to know that I have the Career Coach support I need and a powerful job searching platform all in one place.</h2>
        <p style="color:#fff;">— Financial Controller, Vista CA</p>
      </div>
    </div>
  <div class="section-8" style="margin:40px;text-align:center;">
    <h2>Learn how to help your transitioning employees</h2>
    <div><a class="btn btn-cta ga-trackable" data-action="Schedule Demo - Bottom" href="/demo">Schedule Demo</a></div>
    <p>Not ready for a demo yet? <a href="/solutions/outplacement/features" class="ga-trackable" data-action="View Solution - Footer">Click here</a> for more information about our platform.</p>
  </div>
  <div class="footnote">
    <p>*CareerArc Outplacement users land jobs nearly 3x faster than the national average time it takes to find employment, transitioning back into the workforce on average in 10 weeks compared to the national 28-week average unemployment time as reported by the Bureau of Labor Statistics in 2016.</p>
  </div>
</div>


    
  <!-- 2019-01-04 13:18:08 -0800 -->
  <div class="footer-wrap">
      <div class="footer-nav">
        <div>
          <h3><a href="/about-us">About CareerArc</a></h3>
          <div><a href="/clients">Clients</a></div>
          <div><a href="/partners">Partners</a></div>
          <div><a href="/in-the-news">News &amp; Press</a></div>
          <div><a href="/events">Events</a></div>
          <div><a href="/careers">Careers</a></div>
          <div><a href="/contact-us">Contact Us</a></div>
          <div><a rel="nofollow" href="/terms">Terms</a></div>
          <div><a rel="nofollow" href="/privacy">Privacy</a></div>
          <div><a href="/sitemap.html">Sitemap</a></div>
        </div>
        <div>
          <h3><a href="/solutions">HR Solutions</a></h3>
          <div><a href="/solutions/outplacement">Outplacement</a></div>
          <div><a href="/solutions/social-recruiting">Social Recruiting</a></div>
          <div><a href="/resources">Resources</a></div>
          <div><a href="/demo">Demo</a></div>
          <div><a target="_blank" href="http://www.careerarc.com/blog/">Blog</a></div>
        </div>
        <div>
          <h3><a href="https://www.careerarc.com/job-seeker">Job Seekers</a></h3>
          <div><a href="https://www.careerarc.com/job-seeker">Job Search</a></div>
          <div><a href="https://www.careerarc.com/job-directory">Job Directory</a></div>
          <div><a href="https://www.careerarc.com/job-search">Job Listings</a></div>
          <div><a href="/job-seeker/veterans">Veterans</a></div>
        </div>
      </div>

    <div class="social-links">
      <a href="https://twitter.com/careerarc" target="_blank">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_tw.png" alt="Twitter"/>
      </a>
      <a href="https://www.facebook.com/careerarc" target="_blank">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_fb.png" alt="Facebook"/>
      </a>
      <a href="https://www.glassdoor.com/Reviews/CareerArc-Reviews-E908244.htm" target="_blank">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_glassdoor.png" alt="Glassdoor"/>
      </a>
      <a href="https://www.linkedin.com/company/careerarc" target="_blank">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_li.png" alt="LinkedIn"/>
      </a>
    </div>

    <div>
      &copy; 2019 CareerArc Group LLC  |  All rights reserved
    </div>
  </div>

</body>

</html>

